@page "/ganttIndex"

    <h3><a href="ganttchart"> Syncfusion Gantt chart</a></h3>

    In this demo, we have achived BST requirement like,
    <a href="ganttchart"> Gantt chart</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Incident ID</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Render taskbar using templates.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/324605">324605</a></td>
                <td>Single parent RowDD.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325367"> 325367</a></td>
                <td>Timeline format.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325372">325372</a></td>
                <td>Single row Indent/Outdent.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325376">325376</a></td>
                <td>Connect mutliple predecessor in cell editing.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326220">326220</a></td>
                <td>Deleting a task using contextMenu.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
                <td>Reordering columns.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
                <td>Enable/diable Columns using Column Menu.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326224">326224</a></td>
                <td>Expand/Collapse at level.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326396">326396</a></td>
                <td>Show or Hide the Gantt Pane.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326395">326395</a></td>
                <td>Show text to side of the bar when space limited within the bar.</td>
            </tr>
            <tr>
                <td></td>
                <td>Customize the taskbar resizer icon.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326397">326397</a></td>
                <td>Disappear tooltip 5 seconds after mouse move.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326822">326822</a></td>
                <td>Confirm 10 levels of WBS.</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326827">326827</a></td>
                <td>Expand and collapse breathable space "Display density"</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326829">326829</a></td>
                <td>Gantt - Show a “Today” visual line across the view "thermometer"</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326824">326824</a></td>
                <td>Task - Task structure - Ability to apply different font styles for task rows</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327358">327358</a></td>
                <td>Task - A grey line under the expanded parent tasks with children</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327359">327359</a></td>
                <td>Task - A grey lines above and below the project name row</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325382">325382</a></td>
                <td>Floating Action bubble that overlap with the task row above</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327356">327356</a></td>
                <td>Add action items/indicators for the Gantt Data Grid row such as a Threaded Conversation indicator</td>
            </tr>
            <tr>
                <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326825">326825</a></td>
                <td>Parent level task bars - Collapsed state - Total hours, total number of children font style</td>
            </tr>
        </tbody>
    </table>