@page "/"
<h3>Syncfusion Data Grid</h3>

In this demo, we have prepared a sample to perform row and cell duplication by keyboard actions and mouse dragging (similar to excel file). Also to add a record between two existing records. Kindly click on the below link to render the Grid components.



<table class="table">
    <thead>
        <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325638">325638</a></td>
            <td>Cut/Copy/Paste Support (entire rows).</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325633">325633</a></td>
            <td>Range of cells in a single Row Duplication.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/324615"> 324615</a></td>
            <td>Column Chooser Grouping <a href="https://www.syncfusion.com/feedback/23791/provide-content-template-support-to-column-chooser"> Feedback</a>.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325634"> 325634</a></td>
            <td>Row Duplication - Autofill <a href="https://www.syncfusion.com/feedback/24868/support-autofilling-whole-rows-using-autofill-feature"> Feedback</a>.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325639">325639</a></td>
            <td>Cut/Copy/Paste Support (one or more selected cells).</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325637">325637</a></td>
            <td>Allow use of configurable Keyboard Hotkeys.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325204">325204</a></td>
            <td>Flexible height and responsive behavior for Grid - <a href="https://www.syncfusion.com/feedback/12486/responsive-support-adaptive-mobile-mode-for-blazor-grid">Feedback</a></td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327364">327364</a></td>
            <td>Components must be able to be leveraged within our own application stack across surfaces (Table, Desktop AND Phone) - <a href="https://www.syncfusion.com/feedback/12486/responsive-support-adaptive-mobile-mode-for-blazor-grid">Feedback</a></td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325632">325632</a></td>
            <td>Single Cell Duplication.</td>
        </tr>  
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325635">325635</a></td>
            <td>Insert one or more rows between two existing rows.</td>
        </tr>
    </tbody>
</table>



<br />
<a href="datagrid">
    Row / Cell Duplication/ Add Record
</a>
<br /><br /><br /><br />



<table class="table">
    <thead>
        <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325630">325630</a></td>
            <td>Find within the view</td>
        </tr>
    </tbody>
</table>


<a href="datagrid-325630">
    Search Externally in the grid
</a>
<br />
<br />
<br />
<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327520">327520</a></td>
            <td>List View - Change font style for the column data (Gilroy - Medium, Semibold & Bold) (List cell template).</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327525"> 327525</a></td>
            <td>List View - Vertical Scrollbar styling - Size , color & Drop shadow.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327526"> 327526</a></td>
            <td>List View - Horizontal Scrollbar styling - Size , color & Drop shadow.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327521">327521</a></td>
            <td>List View - Ability to style column text.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327533">327533</a></td>
            <td>List View -Project row vertical separators - Size and color</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327528">327528</a></td>
            <td>List View - Icon buttons - Match the Color and stye for all the buttons</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327532 ">327532</a></td>
            <td>List View - Control over the Freeze pane styling.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327524">327524</a></td>
            <td>List View - Layout should allow addition of secondary toolbar.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327519 ">327519</a></td>
            <td>List View - Add action items/indicators with the grid row such as a Threaded Conversation indicator.</td>
        </tr>
		<tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327527">327527</a></td>
            <td>List View - Sticky table header</td>
        </tr>
		<tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327522">327522</a></td>
            <td>List View - Sticky footer </td>
        </tr>        
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/327367">327367</a></td>
            <td>List View - Columnar Totals</td>
        </tr>
    </tbody>
</table>

<a href="visualgrid">
    1. Visual Changes in Grid
</a>
<br/>
<a href="frozen">
    2. Frozen Lines
</a>


<br />
<br />
<br />
<br />

<h3>Syncfusion Gantt chart</h3>

In this demo, we have achived BST requirement like,

<table class="table">
    <thead>
        <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Render taskbar using templates.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/324605">324605</a></td>
            <td>Single parent RowDD.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325367"> 325367</a></td>
            <td>Timeline format.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325372">325372</a></td>
            <td>Single row Indent/Outdent.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325376">325376</a></td>
            <td>Connect mutliple predecessor in cell editing.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326220">326220</a></td>
            <td>Deleting a task using contextMenu.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
            <td>Reordering columns.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
            <td>Enable/diable Columns using Column Menu.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326224">326224</a></td>
            <td>Expand/Collapse at level.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326396">326396</a></td>
            <td>Show or Hide the Gantt Pane.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326395">326395</a></td>
            <td>Show text to side of the bar when space limited within the bar.</td>
        </tr>
        <tr>
            <td></td>
            <td>Customize the taskbar resizer icon.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326397">326397</a></td>
            <td>Disappear tooltip 5 seconds after mouse move.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326822">326822</a></td>
            <td>Confirm 10 levels of WBS.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326827">326827</a></td>
            <td>Expand and collapse breathable space "Display density"</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326829">326829</a></td>
            <td>Gantt - Show a “Today” visual line across the view "thermometer"</td>
        </tr>
    </tbody>
</table>

<li>Customize the taskbar resizer icon.</li>

<a href="ganttchart"> Gantt chart</a>

<br />