@page "/"
<h3>Syncfusion Data Grid</h3>

In this demo, we have prepared a sample to perform row and cell duplication by keyboard actions and mouse dragging (similar to excel file). Also to add a record between two existing records. Kindly click on the below link to render the Grid components.
<br />
<a href="datagrid">
    Row / Cell Duplication/ Add Record
</a>
<br />
<a href="datagrid-325630">
    Search Externally in the grid
</a>


<br />
<br />

<h3>Syncfusion Gantt chart</h3>

In this demo, we have achived BST requirement like,

<table class="table">
    <thead>
        <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Render taskbar using templates.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/324605">324605</a></td>
            <td>Single parent RowDD.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325367"> 325367</a></td>
            <td>Timeline format.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325372">325372</a></td>
            <td>Single row Indent/Outdent.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/325376">325376</a></td>
            <td>Connect mutliple predecessor in cell editing.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326220">326220</a></td>
            <td>Deleting a task using contextMenu.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
            <td>Reordering columns.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326221">326221</a></td>
            <td>Enable/diable Columns using Column Menu.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326224">326224</a></td>
            <td>Expand/Collapse at level.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326396">326396</a></td>
            <td>Show or Hide the Gantt Pane.</td>
        </tr>
        <tr>
            <td><a href="https://www.syncfusion.com/support/directtrac/incidents/326395">326395</a></td>
            <td>Show text to side of the bar when space limited within the bar.</td>
        </tr>
    </tbody>
</table>

<li>Customize the taskbar resizer icon.</li>

<a href="ganttchart"> Gantt chart</a>

<br />